<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Blog</title>
 </head>
<body>
    <header>
        <nav>
            <a href="/" class="titulo">  <p id="texto_header"><strong>Inicio</strong></p>  </a>
            <a href="/author" id="pagina1"> <p><strong>Author</strong></p></a>      
        </nav>
        
    </header>
    <main class="content">    
        <%- body %>
    </main>


</body>
    <footer>
        <div id="footer_izq" >Hecho por Sergio Manrique </div>
        <div id="footer_dcha">Contacto:<a id="footer_dcha" href="sergio.manrique@alumnos.upm.es">sergio.manrique@alumnos.upm.es</a></div>
        
    </footer>
</html>