<!DOCTYPE html>
<html>
<head>
    <title>MiniProject</title>
    <link rel='stylesheet'href='/stylesheets/style.css' />
</head>
<body>
<div id="Centro_edit_add">
    <h1>Add Post:</h1>
  </div>
<form method="post" action="/posts" enctype="multipart/form-data">
 
    <%- include ('_form.ejs') %>

</form>
</body>
</html>